 <li class="border list-unstyled">
        <div class="row">
            <div class="col-1">
            <input type="checkbox" *ngIf="monitoreo" (change)="valueToSend($event.target.checked)" (change)="productIsSelected()">
            </div>

            <div class="media col">
            <img class="mr-3" src="https://picsum.photos/id/{{product.uid}}/100/100" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0 mb-1">{{product.nombre}}</h5>
                <p>Precio (MXN): ${{product.precio}}</p>
                <p>marca: {{product.marca}}</p>
                <p>Descripción: {{product.descripcion}} </p>
                <p>Existencia: {{product.existencia}}</p>
            </div>
            <div class="media-right col-2 mt-3">
                <div class="row" routerLinkActive="active"
                >
                <a name="" id="" class="btn btn-primary" role="button" routerLink="{{product.uid}}/edit"
                    ><i class="fas fa-edit    "></i></a>
                </div>
                <div class="row mt-3" routerLinkActive="active"
                >
                <a name="" id="" class="btn btn-primary" role="button" routerLink="{{product.uid}}" 
                ><i class="fas fa-search    "></i></a>
                </div>
                <div class="row mt-3" (click)="productToDelete()">
                <a name="" id="" class="btn btn-danger" role="button">
                <i class="fas fa-trash    "></i></a>
                </div>
            </div>
            </div>
        </div>


        </li>